@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;

    li {
        display: inline-block;
        padding: 0px 10px 0px 10px;
    }
}

@mixin skewWithoutInherit($degrees, $transform-origin) {
    -webkit-transform-origin: $transform-origin;
    transform-origin: $transform-origin;

    -webkit-transform: skewX($degrees);
    transform: skewX($degrees);

    & > * {
        -webkit-transform: skewX(-1 * $degrees);
        transform: skewX(-1 * $degrees);
    }
}

@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-end-centered-aligned {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin lg-input {
    height: $theme-lg-input-height !important;
    min-width: $theme-lg-input-width !important;
    padding-left: 10px;
}

@mixin md-input {
    height: $theme-md-input-height !important;
    min-width: $theme-md-input-width !important;
}

@mixin sm-input {
    height: $theme-sm-input-height !important;
    min-width: $theme-sm-input-width !important;
}

@mixin box-shadow-light {
    box-shadow: 0px 0px 3px $theme-light-grey;
}

@mixin shop-container {
    @include box-shadow-light;
    background-color: $theme-color-3;
}
