$header-and-footer-border-height: 2px;

$header-height: 90px;
$header-search-bar-height: calc($header-height / 3);
$header-height-with-search: calc($header-height + $header-search-bar-height);

$footer-height: 60px;

$theme-color-1: #006847;
$theme-color-2: #333333;
$theme-color-3: #fafafa;
$theme-color-4: #58a4b0;
$theme-color-5: #d36135;

:root {
    --toastify-color-info: #58a4b0 !important;
    --toastify-color-success: #006847 !important;
}

$theme-light-light-grey: #eee;
$theme-light-grey: #bbb;
$theme-med-grey: #888;
$theme-dark-grey: #555;
$theme-dark-dark-grey: #222;

$theme-border-radius: 3px;

$theme-lg-input-height: 40px;
$theme-md-input-height: 30px;
$theme-sm-input-height: 20px;

$theme-lg-input-width: 100px;
$theme-md-input-width: 80px;
$theme-sm-input-width: 60px;

$theme-lg-margin: 40px;
$theme-md-margin: 30px;
$theme-sm-margin: 20px;

$theme-font-weight-light: 200;
$theme-font-weight-normal: 400;
$theme-font-weight-bold: 700;
