.card {
    @include box-shadow-light;
    @include shop-container;

    padding: $theme-sm-margin;
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    img {
        place-self: center center;
        object-fit: cover;
        max-width: 100%;
        height: 150px;
    }

    .card-text {
        padding-top: 10px;
        width: 100%;
        position: relative;

        p {
            width: 100%;
            text-align: left;

            &.title {
                margin-bottom: 5px;
                color: $theme-color-1;
                font-weight: $theme-font-weight-bold;
            }

            &.sku {
                color: $theme-med-grey;
                font-size: 14px;
            }

            &.price {
                font-weight: $theme-font-weight-bold;
                position: absolute;
                bottom: 0px;
                left: 0pc;
            }
        }
    }

    .add-to-cart {
        position: absolute;
        bottom: calc($theme-sm-margin / 2);
        right: calc($theme-sm-margin / 2);
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
        height: 30px;
        width: 30px;

        &.hidden {
            opacity: 0;
        }

        svg {
            position: relative;
            top: 5px;
        }

        &.add {
            path,
            circle {
                fill: $theme-med-grey;
            }
            &:hover {
                background-color: $theme-color-1;
                path,
                circle {
                    fill: $theme-color-3;
                }
            }
        }

        &.remove {
            background-color: $theme-med-grey;
            path,
            circle {
                fill: $theme-color-3;
            }
            &:hover {
                background-color: $theme-color-5;
                path,
                circle {
                    fill: $theme-color-2;
                }
            }
        }
    }
}
