.footer {
    position: relative;
    height: $footer-height;
    width: auto;
    z-index: 1;
    background-color: $theme-color-2;
    color: $theme-color-3;
    border-top: 1px solid $theme-color-3;

    .footer-tailfins {
        top: 0px;
        left: 0px;
        height: $header-search-bar-height;
        width: 100%;
        height: 100%;

        .left-side,
        .right-side {
            position: absolute;
            top: $header-search-bar-height * -1;
            height: $header-search-bar-height;
            width: 50%;
        }

        .right-side {
            right: 0px;
        }

        .left-edge,
        .right-edge {
            background-color: $theme-color-2 !important;
            position: absolute;
            height: 100%;
            width: 50%;
            border-top: 1px solid $theme-color-3;
        }

        .left-edge {
            @include skewWithoutInherit(-30deg, bottom right);
            left: 50%;
            border-left: 1px solid $theme-color-3;
        }

        .right-edge {
            @include skewWithoutInherit(30deg, bottom left);
            right: 50%;
            border-right: 1px solid $theme-color-3;
        }
    }
}
