.header {
    position: relative;
    height: $header-height;
    background-color: $theme-color-3;
    width: auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 30px 60px;
    border-bottom: 1px solid $theme-med-grey;
    z-index: 999;

    /* ================ Top Section ================ */

    .left-top-section {
        @include skewWithoutInherit(-30deg, top right);
        @include flex-centered;

        grid-column-start: 1;
        grid-column-end: 3;
        background-color: $theme-color-1;

        .left-top-list {
            @include horizontal-list;
            @include flex-centered;

            color: $theme-color-3;
            line-height: 20px;
        }
    }

    .center-top-section {
        @include flex-centered;

        color: $theme-med-grey;
        font-size: small;
    }

    .right-top-section {
        @include skewWithoutInherit(30deg, top left);
        @include flex-centered;

        grid-column-start: 4;
        grid-column-end: 6;
        background-color: $theme-color-2;

        .right-top-list {
            @include horizontal-list;
            @include flex-centered;

            color: $theme-color-3;
            line-height: 20px;

            li {
                color: $theme-light-grey;
                cursor: pointer;

                &:hover {
                    color: lighten($theme-light-grey, 40%);
                }
            }
        }
    }

    /* ================ Bottom Section ================ */

    .left-bottom-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        right: 18px;

        grid-column-start: 1;
        grid-column-end: 3;

        .left-bottom-list {
            @include horizontal-list;
            @include flex-centered;

            li {
                padding: 5px 10px 5px 10px;
                color: $theme-dark-grey;

                cursor: pointer;

                &.menu:hover {
                    svg {
                        color: $theme-color-3;
                    }
                    color: $theme-color-3;
                    background-color: $theme-color-1;
                }

                &:not(.menu):hover {
                    background-color: $theme-light-light-grey;
                }
            }
        }
    }

    .right-bottom-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        left: 18px;

        grid-column-start: 4;
        grid-column-end: 6;

        .right-bottom-list {
            @include horizontal-list;
            @include flex-centered;

            li {
                @include flex-centered;
                padding: 5px 10px 5px 10px;
                color: $theme-dark-grey;

                cursor: pointer;

                &.menu:hover {
                    svg {
                        color: $theme-color-3;
                    }
                    color: $theme-color-3;
                    background-color: $theme-color-1;
                }

                &:not(.menu):hover {
                    background-color: $theme-light-light-grey;
                }
            }
        }
    }

    /* ================ Keyword Search ================ */

    .keyword-search {
        grid-column-start: 3;
        grid-column-end: 4;
        position: relative;
        height: $header-search-bar-height;
        border-bottom: 1px solid $theme-med-grey;

        .left-edge {
            @include skewWithoutInherit(30deg, top right);

            position: absolute;
            left: -18px;

            width: 70%;
            height: 100%;
            background-color: $theme-color-3;
            border-left: 1px solid $theme-med-grey;
        }

        .right-edge {
            @include skewWithoutInherit(-30deg, top left);

            position: absolute;
            right: -18px;

            width: 70%;
            height: 100%;
            background-color: $theme-color-3;
            border-right: 1px solid $theme-med-grey;
        }

        .search-box {
            position: relative;

            .left-edge {
                border-left: 2px solid $theme-light-grey;
                left: 10px;
            }

            .right-edge {
                border-right: 2px solid $theme-light-grey;
                right: 10px;
            }

            input {
                @include sm-input;

                &,
                &::placeholder {
                    color: $theme-med-grey;
                }
                border: none;
                width: 80%;
                height: 100%;
                margin: auto;
                color: $theme-color-2;
                position: relative;
                text-align: center;
            }
        }
    }
}
