@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap");

@import "./variables";
@import "./mixins";
@import "./extras";

body,
html {
    overflow-x: hidden;
    height: 100vh;
    min-width: 1125px;
}

a {
    text-decoration: none;
    color: $theme-color-2;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $theme-color-2;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: $theme-font-weight-bold;
    }

    * {
        padding: 0px;
        margin: 0px;
        font-weight: $theme-font-weight-normal;
    }

    input,
    select {
        outline: none !important;
        background-color: $theme-color-3;
        border: 1px solid $theme-med-grey;
        border-radius: $theme-border-radius !important;
        font-size: medium;
    }

    select {
        padding: 5px;
    }

    input[type="button"] {
        all: unset;
        background-color: $theme-color-1;
        cursor: pointer;

        &:hover {
            background-color: $theme-color-5;
        }
    }
}

@import "./tools/cssLoader";
@import "./tools/rcSlider";
@import "./tools/reactSelect";

@import "./App.scss";

@import "./pages/landing/Landing.scss";
@import "./pages/landing/MovingBackground.scss";
@import "./pages/shop/Shop.scss";
@import "./pages/shop/Card.scss";
@import "./pages/About.scss";
@import "./pages/TrackOrder.scss";
@import "./pages/Checkout.scss";
@import "./pages/Contact.scss";
@import "./pages/LogIn.scss";

@import "./components/Header.scss";
@import "./components/Logo.scss";
@import "./components/Footer.scss";
@import "./components/RadioList.scss";
