@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap");

@import "./variables";
@import "./mixins";
@import "./extras";

body,
html {
    overflow-x: hidden !important;
    height: 100vh;
}

a {
    text-decoration: none;
    color: $theme-color-2;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $theme-color-2;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: $theme-font-weight-bold;
    }

    * {
        font-weight: $theme-font-weight-normal;
        &:not(svg),
        &:not(path),
        &:not(circle) {
            transition: all 0.25s !important;
        }

        transition: fill 0.25 !important;

        &:not(input) {
            margin: 0px;
            padding: 0px;
        }
    }

    input,
    select {
        outline: none !important;
        background-color: $theme-color-3;
        border: 1px solid $theme-med-grey;
        border-radius: $theme-border-radius !important;
        font-size: medium;
    }

    input[type="text"],
    select {
        padding-left: 5px;
    }

    input[type="button"] {
        all: unset;
        background-color: $theme-color-1;
        cursor: pointer;

        &:hover {
            background-color: $theme-color-5;
        }
    }
}

.rc-slider-track {
    background-color: $theme-color-1 !important;
}

.rc-slider-handle {
    border-color: $theme-color-1 !important;
    &:hover {
        border-color: lighten($color: $theme-color-1, $amount: 10%) !important;
    }
}

.rc-slider-handle-dragging {
    // background-color: lighten($color: $theme-color-1, $amount: 10%) !important;
    border-color: lighten($color: $theme-color-1, $amount: 10%) !important;
    box-shadow: 0px 0px 3px 3px lighten($color: $theme-color-1, $amount: 10%) !important;
}

.rc-slider-handle-click-focused {
    border-color: lighten($color: $theme-color-1, $amount: 10%) !important;
}

.react-select {
    input {
        height: 30px;
    }
    * {
        transition: all 0s !important;
    }

    &__input-container {
        cursor: text;
    }

    &__option {
        color: $theme-color-2 !important;
        &--is-selected {
            background-color: $theme-color-1 !important;
            color: $theme-color-3 !important;
        }

        &--is-focused:not(&--is-selected) {
            background-color: lighten($theme-color-1, 10%) !important;
        }
    }

    &__control {
        &--is-focused {
            border-color: $theme-color-1 !important;
            box-shadow: 0 0 0 1px $theme-color-1 !important;
        }
    }

    &__multi-value {
        background-color: lighten($theme-color-1, 10%) !important;
        color: $theme-color-2 !important;

        &__label {
            font-weight: $theme-font-weight-bold;
        }

        &__remove {
            &:hover {
                background-color: lighten($theme-color-5, 20%) !important;

                * {
                    fill: $theme-color-5 !important;
                }
            }
        }
    }
}

@import "./App.scss";
@import "./Header.scss";
@import "./Logo.scss";
@import "./Landing.scss";
@import "./Shop.scss";
@import "./Card.scss";
@import "./Footer.scss";
@import "./RadioList.scss";
@import "./About.scss";
@import "./TrackOrder.scss";
@import "./Checkout.scss";
@import "./Contact.scss";
@import "./LogIn.scss";
