@import "./variables";
@import "./mixins";
@import "./extras";

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;

    * {
        transition: all 0.25s !important;
        margin: 0px;
        padding: 0px;
    }

    input {
        outline: none;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@import "./App.scss";
@import "./Header.scss";
@import "./Logo.scss";
@import "./ShoppingCartIcon.scss";
@import "./Landing.scss";
@import "./Shop.scss";
