.landing {
    position: relative;
    height: max(100vh - $header-height, 500px);
    overflow: hidden;

    .landing-background {
        background-image: url("../imgs/background1.png");
        filter: blur(5px);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }

    .landing-search-container {
        color: $theme-color-3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: rgba($theme-color-2, 0.4);

        & > * {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .landing-search {
            @include flex-centered;
            .search-container {
                margin: 0px 10px 0px 10px;
                input {
                    @include lg-input;

                    &[type="submit"] {
                        padding-left: 0px;
                    }
                }
            }
        }
    }

    .landing-tailfins {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: $header-search-bar-height;
        width: 100%;

        .left-edge,
        .right-edge {
            height: 100%;
            width: 75px;
            background-color: $theme-light-light-grey;
        }

        .left-edge {
            @include skewWithoutInherit(30deg, bottom right);
        }

        .right-edge {
            @include skewWithoutInherit(-30deg, bottom left);
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
}
