.header {
    position: relative;
    height: $header-height;
    background-color: $theme-color-3;
    width: auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 30px 60px;
    border-bottom: 1px solid $theme-light-grey;
    z-index: 1;

    /* ================ Top Section ================ */

    .left-top-section {
        @include skewWithoutInherit(-30deg, top right);
        @include flex-centered;

        grid-column-start: 1;
        grid-column-end: 3;
        background-color: $theme-color-1;

        .left-top-list {
            @include horizontal-list;
            width: 50%;

            color: $theme-color-3;
            line-height: 20px;
        }
    }

    .center-top-section {
        @include flex-centered;

        color: $theme-color-5;
        font-size: small;
    }

    .right-top-section {
        @include skewWithoutInherit(30deg, top left);
        @include flex-centered;

        grid-column-start: 4;
        grid-column-end: 6;
        background-color: $theme-color-2;

        .right-top-list {
            @include horizontal-list;
            width: 50%;

            color: $theme-color-3;
            line-height: 20px;

            li {
                color: $theme-light-grey;
                cursor: pointer;

                &:hover {
                    color: lighten($theme-light-grey, 40%);
                }
            }
        }
    }

    /* ================ Bottom Section ================ */

    .left-bottom-section {
        @include flex-centered;

        position: relative;
        right: 18px;

        grid-column-start: 1;
        grid-column-end: 3;

        .left-bottom-list {
            @include horizontal-list;
            @include flex-centered;

            li > .link {
                padding: 5px 10px 5px 10px;
                color: $theme-dark-grey;

                cursor: pointer;

                &:hover {
                    background-color: $theme-light-light-grey;
                }
            }
        }
    }

    .center-bottom-section {
        @include flex-centered;
        a {
            @include flex-centered;
            width: 100%;
        }
    }

    .right-bottom-section {
        @include flex-centered;

        position: relative;
        left: 18px;

        grid-column-start: 4;
        grid-column-end: 6;

        .right-bottom-list {
            @include horizontal-list;
            @include flex-centered;

            li {
                @include flex-centered;

                & > .link {
                    padding: 5px 10px 5px 10px;
                    color: $theme-dark-grey;

                    cursor: pointer;

                    &:hover {
                        background-color: $theme-light-light-grey;
                    }
                }

                .shopping-cart-with-indicator {
                    position: relative;
                    .shopping-cart-indicator {
                        @include skewWithoutInherit(-10deg, top right);

                        position: absolute;
                        top: -3px;
                        right: -3px;
                        background-color: $theme-color-1;
                        line-height: 10px;
                        padding: 2px;
                        color: $theme-color-3;
                        font-size: 10px;
                        border-radius: $theme-border-radius;
                    }
                }

                .link {
                    @include flex-centered;
                }
            }
        }
    }

    /* ================ Keyword Search ================ */

    .keyword-search {
        grid-column-start: 3;
        grid-column-end: 4;
        position: relative;
        height: $header-search-bar-height;

        & > .left-edge,
        & > .right-edge {
            position: absolute;
            border-bottom: 1px solid $theme-light-grey;
            width: 50%;
            height: 100%;
            background-color: $theme-color-3;
        }

        & > .left-edge {
            left: 0px;
        }

        & > .right-edge {
            right: 0px;
            border-right: 1px solid $theme-light-grey;
        }

        .left-edge {
            @include skewWithoutInherit(30deg, top right);
            position: absolute;
            border-left: 1px solid $theme-light-grey;
        }

        .right-edge {
            @include skewWithoutInherit(-30deg, top left);
            position: absolute;
        }

        .search-box {
            @include flex-centered;

            position: relative;
            width: 100%;
            height: 75%;

            .border-top {
                border-top: 1px solid $theme-light-grey;
                width: calc(100% - 30px);
                position: absolute;
                top: 0px;
                z-index: 1;
            }

            .left-edge,
            .right-edge {
                width: 50%;
                height: 100%;
            }

            .left-edge {
                left: 15px;
            }

            .right-edge {
                right: 15px;
            }

            input {
                @include sm-input;

                border: none;
                width: calc(100% - 70px);
                height: 100% !important;
                color: $theme-color-2;
                position: relative;
                text-align: center;
                border-bottom: 1px solid $theme-light-grey;
                border-radius: 0px !important;

                &::placeholder {
                    color: $theme-med-grey;
                    position: relative;
                    top: 1px;
                }
            }

            .search-icon-container {
                @include skewWithoutInherit(-30deg, top left);
                @include flex-centered;

                position: absolute;
                top: 0px;
                right: 15px;
                height: 100%;
                width: 50px;
                border-right: 1px solid $theme-light-grey !important;
                cursor: pointer;

                * {
                    fill: $theme-dark-grey;
                }

                &:hover {
                    background-color: $theme-light-grey;
                }
            }
        }
    }
}
