.logo {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;

    .half-1 {
        display: inline-block;
        color: $theme-color-1;
        padding-right: 10px;
    }

    .half-2 {
        display: inline-block;
        color: $theme-color-2;
    }
}
