.landing {
    position: relative;
    height: max(100vh - $header-height - $footer-height - $header-and-footer-border-height, 400px);
    z-index: 0;

    .landing-background {
        background-image: url("../../imgs/background1.png");
        filter: blur(5px);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }

    .landing-search-container {
        color: $theme-color-3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: rgba($theme-color-2, 0.4);

        & > * {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .landing-search {
            @include flex-centered;
            font-size: 18px;
            .search-container {
                margin: 0px 10px 0px 10px;
                input {
                    &[type="button"] {
                        padding-left: 0px;
                        color: $theme-color-3;
                        @include lg-input;
                    }
                }
            }
        }
    }
}
