.shop {
    @include page-container;

    .shop-grid {
        display: grid;
        grid-template-columns: 0.5fr 1fr $theme-lg-margin 1fr 1fr 1fr 1fr 0.5fr;
        padding-bottom: 2 * $header-search-bar-height;

        .shop-filters {
            @include shop-container;
            height: fit-content;
            position: sticky;
            position: -webkit-sticky;
            top: $theme-lg-margin;

            grid-column-start: 2;
            grid-column-end: 3;

            & > h2 {
                text-align: left;
                padding: $theme-sm-margin;
            }

            .filter-container {
                border-top: 1px solid $theme-light-light-grey;
                border-bottom: 1px solid $theme-light-light-grey;
                padding: $theme-sm-margin;
                text-align: left;
                background-color: inherit;

                & > h3 {
                    margin-bottom: 10px;
                }

                &.search-filter > input {
                    padding: 5px;
                    width: calc(100% - 15px);
                    &.has-value {
                        border: 2px solid $theme-color-1;
                    }
                }

                .rc-slider {
                    width: calc(100% - 15px);
                    position: relative;
                    left: 5px;
                }
            }
        }

        .shop-listings {
            grid-column-start: 4;
            grid-column-end: 8;

            .shop-config {
                @include shop-container;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                margin-bottom: $theme-sm-margin;

                .showing {
                    padding-left: $theme-sm-margin;
                }

                .sort {
                    padding-right: $theme-sm-margin;
                }
            }

            .shop-results-container {
                .loading-container {
                    @include flex-centered;

                    min-height: 300px;
                }

                .shop-items {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                    gap: $theme-sm-margin;
                }

                .show-more,
                .no-more {
                    margin-top: 20px;
                }

                .no-more > p {
                    font-weight: $theme-font-weight-bold !important;
                    padding: $theme-md-margin;
                }

                .show-more {
                    margin-top: 20px;
                    input {
                        &[type="button"] {
                            padding-left: 0px;
                            color: $theme-color-3;
                            @include lg-input;
                        }
                    }
                }
            }
        }
    }
}
