$header-height: 90px;

$theme-color-1: rgb(0, 104, 71);
$theme-color-2: rgb(4, 15, 15);
$theme-color-3: rgb(247, 245, 251);
$theme-color-4: rgb(251, 177, 60);
$theme-color-5: rgb(167, 101, 113);

$theme-light-light-grey: #eee;
$theme-light-grey: #bbb;
$theme-med-grey: #888;
$theme-dark-grey: #555;
$theme-dark-dark-grey: #222;

$theme-border-radius: 3px;
